.panel {
  margin: 20px 0 0 0;
}

#likes {
  margin: 0 0 20px 20px;
  display: inline;
}


/* Recipe Title & Image */
.title-image {
  display: inline-flex;
  width: 100%;
  margin: 0 0 10px 0;
}

#recipe-info {
  width: 50%;
  margin: 0 10px 0 0;
  white-space: normal;
  align-self: center;
  flex-wrap: wrap;
}

#recipe-title {
  margin-top: 5px;
}

#recipe-image {
  border-radius: 5px;
  width: 50%;
  margin: auto;
  align-self: stretch;
  position: relative
}

#summary {
  /* text-overflow: clip; */
  color: #777;
  margin: 0 10px 0 0;
  white-space: normal;
  font-size: 13px;
}


.aggregateLikes {
  display: inline;
  margin: 0 2px 0 0;
}

.tags {
  display: inline;
}

#recipe-heart  {
  font-size: 40px;
  position: absolute;
  z-index: 1;
  border: 15px solid black;
  margin: 20px 0 0 82%;
  background-color: black;
  border-radius: 40px;
  opacity: 0.5;
  line-height: 98%;
}

img {
  border-radius: 5px;
}

#recipe-author {
  margin-bottom: 4px;
}

.tags-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.likes-box {
  align-items: flex-end;
}

.orange {
  color: darkorange;
}

.grey {
  color: #777;
}

.tags-each {
  color: darkorange;
  font-weight: bold;
  display: block;
  align-content: center;
}

.badge {
  background-color:darkorange;
}