.panel {
  margin: 20px 0 0 0;
}

.tags-container {
  margin: 0 0 20px 20px;
  /* display: inline; */
}

#likes {
  margin: 0 0 20px 20px;
  display: inline;
}


/* Recipe Title & Image */
.title-image {
  display: inline-flex;
  width: 100%;
  margin: 0 0 10px 0;
}

#recipe-title {
  width: 50%;
  margin: 0 10px 0 0;
  white-space: normal;
  align-self: center;
  flex-wrap: wrap;
}

.recipe-image {
  border-radius: 5px;
  width: 50%;
  margin: auto;
  align-self: stretch;
  position: relative
}

#summary {
  /* text-overflow: clip; */
  color:darkorange;
  margin: 0 10px 0 0;
  white-space: normal;
}


.aggregateLikes {
  display: inline;
  margin: 0 2px 0 0;
}

.tags {
  display: inline;
}

#recipe-heart  {
  font-size: 40px;
  position: absolute;
  z-index: 1;
  border: 15px solid black;
  margin: 1.5% 0 0 35%;
  background-color: black;
  border-radius: 40px;
  opacity: 0.5;
  line-height: 98%;
}

img {
  border-radius: 5px;
}