#keyword-search {
letter-spacing: 0;
    width: 75%;
    display: block;
    outline: none;
    border-color:darkorange;
    border-radius: 3em;
    box-sizing: border-box;
    position: relative;
    margin: 45px auto;
    font-size: 15px;
    text-decoration: none;
    align-content: center;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all 200ms ease;
    padding: 11px 24px;
    background-color: #fff;
    box-shadow: 0 4px 10px darkorange, 0 0 1px orange inset;
}

/* .searchContainer {
  margin: center;
} */

#grid-recipe-title {
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.recipe-title {
  color: black
}

.author {
  color: #777;
}

.recipe-tags {
  color: darkorange;
  font-weight: bold;
  /* display: inline; */
}

#clock {
  margin: 0 0 20px 0;
}

#time {
  margin: 0 20px 20px 3px;
}

#servings {
  margin: 0 20px 20px 0;
}

#calories {
  align-content: flex-end;
}

.each-tag {
  display: inline-block;
  width: 104px;
}

.recipe-search-heart {
  display: inline-block;
}