.restaurants_container {
  display: flex;
}

/* .restaurants_component {

} */
#restaurant_link {
  text-decoration: none;
  color: black;
}

#restaurant_img {
  width: 200px;
  height: auto;
  margin: 10px 10px;
}

#yelp_stars {
  width: 200px;
  height: auto;
}

.restaurant_tags {
  margin: 15px 15px;
}

#restaurant_name {
  font-size: large;
  font-weight: bolder;
}

